body {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

nav {
    list-style: none;
    background-color: gray;
    text-align: center;
}

nav li {
    font-size: 1.2cm;
    line-height: 40px;
    display: inline-block
    
}